fastapi
uvicorn
python-multipart
pydantic
langchain
langchain-community
langchain-core
langchain-groq
langchain-huggingface
chromadb
sentence-transformers
pypdf
fpdf
python-docx
python-dotenv
requests
tf-keras
PyPDF2
groq